body {
  background-color: #766565;
  padding-top: 70px;
  font-family: 'Muli', sans-serif;
  color: #1e2b2b;
}

nav {
    height: 70px;
}

h1, h2 {
  color: black;
  font-family: 'Faster One', cursive;
  vertical-align: center;
}

#navbar {
  vertical-align: center;
  margin: auto;
}

nav {
  font-size: 18px;
}

.btn-group {
  vertical-align: center;
  margin: auto;
  display: inline-block;
  padding-top: 17px;
}

.jumbotron {
  padding: .5cm;
  position: relative;
  vertical-align: middle;
  margin: auto;
  background-color: #31323e;
  box-shadow: 0 8px 16px -6px black;
}

.jumbotron h1, #jumbotron-words {
  color: black;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.jumbotron p {
  font-weight: normal;
  font-size: 16px;
  display: inline-block;
  text-align: center;
}

.jumbotron img {
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-top: 15px;
}

#magic {
  padding-top: 50px;
  text-align: center;
}

.row-1 {
  padding: 50px;
}
